
@model List<surprise.Models.Memory>

<div id="heart-container"></div>

<h1 class="text-center mt-4">
    📸 Our Beautiful Memories
</h1>

<div class="row mt-4">

    @foreach (var item in Model)
    {
          <div class="col-md-3">

      <div class="card mb-4 shadow memory-card">

        <img src="@item.ImageUrl"
             class="card-img-top"
             alt="@item.Title">

       

    </div>

        </div>

        @* </div> *@
    }

</div>