@{
    ViewData["Title"] = "Happy Birthday";
}
 <div id="heart-container"></div>

<div class="hero">

    <h1>🎂 Happy Birthday My Love (GUDDA,BACCHI,MUSKAN)❤️</h1>

    <p>
        Every moment with you is special.
    </p>

    <div class="buttons">

        <a asp-action="Letter" class="btn btn-danger" onclick="sessionStorage.setItem('musicTime', document.getElementById('bgMusic').currentTime)">
            Read My Letter 💌
        </a>

        <a asp-action="Gallery" class="btn btn-primary"   onclick="sessionStorage.setItem('musicTime', document.getElementById('bgMusic').currentTime)">
            Our Memories 📸
        </a>

    </div>

</div>
<script>

    function createHeart() {

        const heart = document.createElement("div");

        heart.classList.add("heart");

        const hearts = ["❤️", "💖", "💕", "💗", "💘"];

        heart.innerHTML =
            hearts[Math.floor(Math.random() * hearts.length)];

        heart.style.left = Math.random() * 100 + "vw";

        heart.style.fontSize =
            (20 + Math.random() * 30) + "px";

        heart.style.animationDuration =
            (5 + Math.random() * 5) + "s";

        document
            .getElementById("heart-container")
            .appendChild(heart);

        setTimeout(() => {
            heart.remove();
        }, 10000);
    }

    setInterval(createHeart, 300);

</script> 

